<template>
  <div class="trivia-start">
    <router-link to="/question:0" class="start-button">Start Trivia</router-link>
  </div>
</template>

<script>
export default {
    name: 'TriviaStart'
}
</script>

<style>

</style>