<template>
  <div class="trivia-question">
    <p class="question-label">{{this.question}}</p>
    <div class="question-container" v-for="option in this.alternatives" :key="option">
      <input type="radio" :id="option" :value="option" v-model="picked" name="option" />
      <label :for="option">{{option}}</label>
      <br />
    </div>

    <button v-if="this.id < 9" @click="handleNextClick(picked)" class="nav-button">Next</button>
    <button v-if="this.id >= 9" @click="handleResultClick(picked)" class="nav-link">Finish</button>
  </div>
</template>

<script>
export default {
  name: "TriviaQuestion",
  methods: {
    updatePage: function () {
      this.$forceUpdate();
    },
    handleNextClick: function (picked) {
      
      let answer = {
        question: this.question,
        userAnswer: picked,
        correctAnswer: this.correct
      };
      this.answers.push(answer);
      this.picked = "";
      this.$router.push("/question:" + (this.id + 1));
    },

    handleResultClick: function (picked) {
      let answer = {
        question: this.question,
        userAnswer: picked,
        correctAnswer: this.correct
      };
      this.answers.push(answer);
      this.$parent.answers = this.answers;
      this.$router.push("/results");
    },

    updateData: function () {
      this.id = parseInt(this.$route.params.id.substring(1));
      this.question = this.$parent.questions[this.id].question;
      this.correct = this.$parent.questions[this.id].correct_answer;
      this.alternatives = this.$parent.questions[this.id].incorrect_answers;
      this.alternatives.push(this.correct);
      
    },
  },

  watch: {
    $route() {
      this.updatePage();
      this.updateData();
    },
  },

  created() {
    this.updateData();
  },

  data() {
    return {
      id: "",
      question: "",
      alternatives: [],
      correct: "",
      picked: "",
      answers: [],
    };
  },
};
</script>

<style>
</style>