<template>
  <div class="trivia-result">

    <div v-for="answer in this.answers" class="answer-comparison" :key="answer.id">
      <p class="question-text">{{answer.question}}</p>
      <p class="answer-text">Your answer: {{answer.userAnswer}}</p>
      <p class="correct-answer-text">Correct answer: {{answer.correctAnswer}}</p>
      <br>
    </div>


    <h3 class="score-amount">SCORE: {{this.score}}</h3>
    <router-link to="/" class="nav-button">Go again</router-link>
  </div>
</template>

<script>
export default {
    name: 'TriviaResult',
    methods: {
      updateData: function () {
        this.answers = this.$parent.answers;
      },
      calculateScore: function() {
        this.answers.forEach(answer => {
          if (answer.userAnswer === answer.correctAnswer) {
            this.score += 10;
          }
        });
      }
    },
    created() {
      this.updateData();
      this.calculateScore();
    },
    data() {
      return {
        answers: [
           {
            id: "",
            question: "",
            userAnswer: "",
            correctAnswer: ""
          }
        ],
        score: 0
      }
    }
}
</script>


<style>

</style>