// api fetch url: https://opentdb.com/api.php?amount=10&category=15&difficulty=medium

<template>
  <div id="app">
    <router-view></router-view>
    <img alt="Vue logo" src="./assets/logo.png">
  </div>
</template>

<script>
//import getQuestions from './api/questions';

export default {
  name: 'App',
  async created() {
    try {
     /*  const questionsok = await getQuestions();
      console.log(questionsok); */
      this.questions = await fetch('https://opentdb.com/api.php?amount=10&category=15&difficulty=easy')
      .then(res => res.json())
      .then(res => res.results);

    } catch(e) {
      console.log(e)
      this.error = e.message;
    }
  },
  data() {
    return {
      questions: [],
      error: "",
      answers: []
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.start-button {
  border-style: solid;
  border-color:  #2c3e50;
  text-decoration: none;
  color: #2c3e50;
  border-radius: 5px;

}
.start-button:hover {
  background-color:  #2c3e50;
  color:white;
}
</style>
